<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <section class="content">
         <img class="portrait" src="/images/weather.jpg">
    </section>    
    {{>footer}}
</body>

</html>