<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
       {{>header}}
       <section class="content">
          {{text}}
       </section>      
       {{>footer}}
    </body>
</html>