<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/css/styles.css"/>
     
    </head>
    <body>
       {{>header}}
       <section class="content">
         <p>{{text}}</p>
         <form>
           <input>
           <button>Search</button>
           <p class="loader"></p>
           <p class="message"></p>
         </form>
       </section>       
       {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>